.class-weeks {
    list-style-type: none;
}

.week-link {

    a {
        display: block;
        padding: 1rem 1.5rem;
    }

    @for $i from 1 through 18 {
        &:nth-child(#{$i}) {
            a {
                &::after {
                    content: " #{$i+1}";
                }
            }
        }


    }
}